/*
 * Home
 */
.home-hello {
  position: relative;
}

.home img {
  display: inherit;
}

.home-hello .item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.6);
}

.img-center {
  text-align: center;
}

.card.col.home h1 {
  text-align: center;
}

.card.col.home h2 {
  text-align: left;
}

.border01 {
  border: 4px solid #bb1515;
}

.back03 {
  background-color: #433e90;
  color: #c0c0c0;
}

.back04 {
  background-color: #2a334f;
  color: white;
}

.bottom-low {
  padding-top: 10%;
}

.bottom-medium {
  padding-top: 20%;
}

.bottom-high {
  padding-top: 40%;
}

.card-header-zero {
  font-size: 20px;
}

.spinner-zero {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
}

@media (min-width: 1024px) {
  .responsive-xg {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .responsive-xg .col, .responsive-xg .col-10, .responsive-xg .col-20, .responsive-xg .col-25, .responsive-xg .col-33, .responsive-xg .col-34, .responsive-xg .col-50, .responsive-xg .col-66, .responsive-xg .col-67, .responsive-xg .col-75, .responsive-xg .col-80, .responsive-xg .col-90 {
    -moz-flex: 1 0 50%; //2 columns
    flex: 1 0 50%; //2 columns
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 50%;
    width: 50%;
    height: 380px;
  }
  .card-zero {
    height: 330px;
  }
}

@media all and (min-width: 600px) {
  .img-logo {
    max-width: 20%;
  }
}

@media all and (min-width: 200px) and (max-width: 600px) {
  .img-logo {
    max-width: 50%;
  }
}

#zero-globe-vnc :visited {
  color: #0c60ee;
}