<ion-view view-title="Home" padding="true">
    <ion-content class="scroll-content has-footer" overflow-scroll="true">
        <section>
            <div class="item img-center">
                <img ng-src="./images/xhdpi/Whirlpool.jpg" class="img-logo"/>
            </div>
            <ion-spinner icon="android" class="spinner-zero" ng-if="!isDataArrived"></ion-spinner>
            <ion-list ng-if="isDataArrived">
                <div class="row responsive-lg responsive-xg">
                    <ion-item class="col" ng-repeat="(stationName, bays) in entries">
                        <div class="card card-zero">
                            <div class="item item-divider item-icon-left item-icon-right">
                                <i class="icon ion-ios-pulse"></i>
                                <span class="card-header-zero">{{stationName}}</span>
                                <button id="zero-globe-vnc" class="button icon ion-android-globe blue" style="padding-bottom: 15px;"
                                        ng-click="openVnc(bays[$index].ipAddress)">
                                </button>
                            </div>
                            <div class="item item-icon-left" ng-repeat="bay in bays track by $index"
                                 style="border-style: none;">
                                <div ng-if="bay.bayNumber">
                                    <i ng-class="getBackgroundColor(bay.stateInfo.type)"></i>
                                    <p class="item-text-wrap" style="font-size: 12px;">{{bay.stateInfo.timestamp |
                                        date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                    <p class="item-text-wrap"><b>Box: {{bay.bayNumber}}</b>
                                        <b>State: {{bay.stateInfo.stateCode}}</b> - {{bay.stateInfo.stateDescription}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-list>
        </section>
    </ion-content>
</ion-view>
