<ion-view view-title="Inbox">
    <ion-content overflow-scroll=”true” scrollbar-y="true" class="scroll-content has-footer">
        <div class="bar bar-header">
            <div class="h1 title"></div>
            <button ng-if="!isRemoveAllEnabled" class="button button-assertive icon ion-close-circled"
                    ng-click="enableRemoveAll()"></button>
            <button ng-if="isRemoveAllEnabled" class="button button-assertive" ng-click="removeAll()">Remove all
            </button>
        </div>
        <br/>
        <br/>
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
            <ion-item class="item item-divider item-text-wrap" ng-repeat="(key,value) in notificationsMap track by key">
                <div class="item-icon-left" style="padding-bottom: 16px">
                    <i ng-class="{'icon ion-android-warning orange' :value.ackType=='ack1',
                            'icon ion-android-warning yellow':value.ackType=='ack2',
                            'icon ion-alert red':value.ackType=='ack3',
                            'icon ion-flag red':value.ackType=='ack4'}"></i>
                    <div class="row">
                    <span ng-if="value.timestamp" class="item-note item-note-zero">
                        {{value.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                    <div class="row">
                        <span>
                            <span ng-if="value.stationName"><b>{{value.stationName}} Box: {{value.bayNumber}}</b> - </span>
                            {{value.description}}
                        </span>
                    </div>
                </div>
                <ion-option-button ng-disabled="value.ackType==='ack3'"
                                   class="button-assertive icon ion-trash-a" ng-click="deleteAcknowledge(key)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
